<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for CSharp Analyzers" Description="" ToolsVersion="15.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1006" Action="Error" />
    <Rule Id="S1066" Action="Error" />
    <Rule Id="S108" Action="Error" />
    <Rule Id="S1116" Action="Error" />
    <Rule Id="S1117" Action="Error" />
    <Rule Id="S1118" Action="Error" />
    <Rule Id="S1134" Action="Error" />
    <Rule Id="S1135" Action="Error" />
    <Rule Id="S1144" Action="Error" />
    <Rule Id="S1145" Action="Error" />
    <Rule Id="S1155" Action="Error" />
    <Rule Id="S1172" Action="Error" />
    <Rule Id="S1185" Action="Error" />
    <Rule Id="S1244" Action="Error" />
    <Rule Id="S125" Action="Error" />
    <Rule Id="S1449" Action="Error" />
    <Rule Id="S1481" Action="Error" />
    <Rule Id="S1643" Action="Error" />
    <Rule Id="S1656" Action="Error" />
    <Rule Id="S1697" Action="Error" />
    <Rule Id="S1698" Action="Error" />
    <Rule Id="S1699" Action="Error" />
    <Rule Id="S1764" Action="Error" />
    <Rule Id="S1848" Action="Error" />
    <Rule Id="S1854" Action="Error" />
    <Rule Id="S1862" Action="Error" />
    <Rule Id="S1871" Action="Error" />
    <Rule Id="S1905" Action="Error" />
    <Rule Id="S1939" Action="Error" />
    <Rule Id="S1940" Action="Error" />
    <Rule Id="S1944" Action="Error" />
    <Rule Id="S2123" Action="Error" />
    <Rule Id="S2184" Action="Error" />
    <Rule Id="S2219" Action="Error" />
    <Rule Id="S2223" Action="Error" />
    <Rule Id="S2225" Action="Error" />
    <Rule Id="S2234" Action="Error" />
    <Rule Id="S2275" Action="Error" />
    <Rule Id="S2278" Action="Error" />
    <Rule Id="S2290" Action="Error" />
    <Rule Id="S2291" Action="Error" />
    <Rule Id="S2292" Action="Error" />
    <Rule Id="S2306" Action="Error" />
    <Rule Id="S2326" Action="Error" />
    <Rule Id="S2328" Action="Error" />
    <Rule Id="S2344" Action="Error" />
    <Rule Id="S2345" Action="Error" />
    <Rule Id="S2346" Action="Error" />
    <Rule Id="S2368" Action="Error" />
    <Rule Id="S2372" Action="Error" />
    <Rule Id="S2376" Action="Error" />
    <Rule Id="S2437" Action="Error" />
    <Rule Id="S2486" Action="Error" />
    <Rule Id="S2681" Action="Error" />
    <Rule Id="S2692" Action="Error" />
    <Rule Id="S2696" Action="Error" />
    <Rule Id="S2743" Action="Error" />
    <Rule Id="S2757" Action="Error" />
    <Rule Id="S2758" Action="Error" />
    <Rule Id="S2761" Action="Error" />
    <Rule Id="S2930" Action="Error" />
    <Rule Id="S2933" Action="Error" />
    <Rule Id="S2934" Action="Error" />
    <Rule Id="S2953" Action="Error" />
    <Rule Id="S2971" Action="Error" />
    <Rule Id="S2995" Action="Error" />
    <Rule Id="S2996" Action="Error" />
    <Rule Id="S2997" Action="Error" />
    <Rule Id="S3005" Action="Error" />
    <Rule Id="S3168" Action="Error" />
    <Rule Id="S3169" Action="Error" />
    <Rule Id="S3172" Action="Error" />
    <Rule Id="S3216" Action="Error" />
    <Rule Id="S3217" Action="Error" />
    <Rule Id="S3218" Action="Error" />
    <Rule Id="S3220" Action="Error" />
    <Rule Id="S3234" Action="Error" />
    <Rule Id="S3236" Action="Error" />
    <Rule Id="S3237" Action="Error" />
    <Rule Id="S3244" Action="Error" />
    <Rule Id="S3246" Action="Error" />
    <Rule Id="S3249" Action="Error" />
    <Rule Id="S3251" Action="Error" />
    <Rule Id="S3262" Action="Error" />
    <Rule Id="S3263" Action="Error" />
    <Rule Id="S3265" Action="Error" />
    <Rule Id="S3376" Action="Error" />
    <Rule Id="S3397" Action="Error" />
    <Rule Id="S3427" Action="Error" />
    <Rule Id="S3443" Action="Error" />
    <Rule Id="S3444" Action="Error" />
    <Rule Id="S3447" Action="Error" />
    <Rule Id="S3449" Action="Error" />
    <Rule Id="S3450" Action="Error" />
    <Rule Id="S3451" Action="Error" />
    <Rule Id="S3456" Action="Error" />
    <Rule Id="S3457" Action="Error" />
    <Rule Id="S3466" Action="Error" />
    <Rule Id="S907" Action="Error" />
    <Rule Id="S927" Action="Error" />
    <Rule Id="S818" Action="Error" />
    <Rule Id="S2931" Action="Error" />
    <Rule Id="S1227" Action="Error" />
    <Rule Id="S3052" Action="Error" />
    <Rule Id="S2760" Action="Error" />
    <Rule Id="S126" Action="Error" />
    <Rule Id="S127" Action="Error" />
    <Rule Id="S1479" Action="Error" />
    <Rule Id="S134" Action="Error" />
    <Rule Id="S131" Action="Error" />
    <Rule Id="S3215" Action="Error" />
    <Rule Id="S1313" Action="Error" />
    <Rule Id="S3240" Action="Error" />
    <Rule Id="S1226" Action="Error" />
    <Rule Id="S2955" Action="Error" />
    <Rule Id="S1109" Action="Error" />
    <Rule Id="S1186" Action="Error" />
    <Rule Id="S1067" Action="Error" />
    <Rule Id="S2551" Action="Error" />
    <Rule Id="S3235" Action="Error" />
    <Rule Id="S2674" Action="Error" />
    <Rule Id="S2952" Action="Error" />
    <Rule Id="S2387" Action="Error" />
    <Rule Id="S1858" Action="Error" />
    <Rule Id="S1694" Action="Error" />
    <Rule Id="S2339" Action="Error" />
    <Rule Id="S2737" Action="Error" />
    <Rule Id="S2330" Action="Error" />
    <Rule Id="S100" Action="Error" />
    <Rule Id="S101" Action="Error" />
    <Rule Id="S1121" Action="Error" />
    <Rule Id="S2333" Action="Error" />
    <Rule Id="S1125" Action="Error" />
    <Rule Id="S3254" Action="Error" />
    <Rule Id="S3253" Action="Error" />
    <Rule Id="S3257" Action="Error" />
    <Rule Id="S3532" Action="Error" />
    <Rule Id="S1994" Action="Error" />
    <Rule Id="S2070" Action="Error" />
    <Rule Id="S3441" Action="Error" />
    <Rule Id="S122" Action="Error" />
    <Rule Id="S2197" Action="Error" />
    <Rule Id="S121" Action="Error" />
    <Rule Id="S1541" Action="Error" />
    <Rule Id="S2357" Action="Error" />
    <Rule Id="S1301" Action="Error" />
    <Rule Id="S104" Action="Error" />
    <Rule Id="S105" Action="Error" />
    <Rule Id="S2228" Action="Error" />
    <Rule Id="S1659" Action="Error" />
    <Rule Id="S107" Action="Error" />
    <Rule Id="S103" Action="Error" />
    <Rule Id="S3626" Action="None" />
    <Rule Id="S1163" Action="None" />
    <Rule Id="S2259" Action="None" />
    <Rule Id="S2360" Action="None" />
    <Rule Id="S3459" Action="None" />
    <Rule Id="S3453" Action="None" />
    <Rule Id="S3610" Action="None" />
    <Rule Id="S3458" Action="None" />
    <Rule Id="S3241" Action="None" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1451" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S1210" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3261" Action="None" />
    <Rule Id="S3264" Action="None" />
    <Rule Id="S2178" Action="None" />
    <Rule Id="S3010" Action="None" />
    <Rule Id="S3256" Action="None" />
    <Rule Id="S2201" Action="None" />
    <Rule Id="S2688" Action="None" />
    <Rule Id="S3776" Action="None" />
    <Rule Id="S3655" Action="None" />
    <Rule Id="S2190" Action="None" />
    <Rule Id="S3603" Action="None" />
    <Rule Id="S3604" Action="None" />
    <Rule Id="S1309" Action="None" />
    <Rule Id="S3440" Action="None" />
    <Rule Id="S3442" Action="None" />
    <Rule Id="S3445" Action="None" />
    <Rule Id="S3600" Action="None" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S112" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1014" Action="Error" />
    <Rule Id="SA1015" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1018" Action="Error" />
    <Rule Id="SA1019" Action="Error" />
    <Rule Id="SA1020" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1023" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1027" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="Error" />
    <Rule Id="SA1102" Action="Error" />
    <Rule Id="SA1103" Action="Error" />
    <Rule Id="SA1104" Action="Error" />
    <Rule Id="SA1105" Action="Error" />
    <Rule Id="SA1106" Action="Error" />
    <Rule Id="SA1107" Action="Error" />
    <Rule Id="SA1108" Action="Error" />
    <Rule Id="SA1110" Action="Error" />
    <Rule Id="SA1111" Action="Error" />
    <Rule Id="SA1112" Action="Error" />
    <Rule Id="SA1113" Action="Error" />
    <Rule Id="SA1114" Action="Error" />
    <Rule Id="SA1115" Action="Error" />
    <Rule Id="SA1116" Action="Error" />
    <Rule Id="SA1117" Action="Error" />
    <Rule Id="SA1118" Action="Error" />
    <Rule Id="SA1119" Action="Error" />
    <Rule Id="SA1120" Action="Error" />
    <Rule Id="SA1121" Action="Error" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1123" Action="Error" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1125" Action="Error" />
    <Rule Id="SA1127" Action="Error" />
    <Rule Id="SA1128" Action="Error" />
    <Rule Id="SA1129" Action="Error" />
    <Rule Id="SA1130" Action="Error" />
    <Rule Id="SA1131" Action="Error" />
    <Rule Id="SA1132" Action="Error" />
    <Rule Id="SA1133" Action="Error" />
    <Rule Id="SA1134" Action="Error" />
    <Rule Id="SA1136" Action="Error" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1201" Action="Error" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1203" Action="Error" />
    <Rule Id="SA1204" Action="Error" />
    <Rule Id="SA1205" Action="Error" />
    <Rule Id="SA1206" Action="Error" />
    <Rule Id="SA1207" Action="Error" />
    <Rule Id="SA1208" Action="Error" />
    <Rule Id="SA1209" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1211" Action="Error" />
    <Rule Id="SA1212" Action="Error" />
    <Rule Id="SA1213" Action="Error" />
    <Rule Id="SA1214" Action="Error" />
    <Rule Id="SA1216" Action="Error" />
    <Rule Id="SA1217" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1304" Action="Error" />
    <Rule Id="SA1305" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1307" Action="Error" />
    <Rule Id="SA1308" Action="Error" />
    <Rule Id="SA1309" Action="Error" />
    <Rule Id="SA1310" Action="Error" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1313" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1412" Action="None" />
    <Rule Id="SA1413" Action="Error" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1501" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1506" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1509" Action="Error" />
    <Rule Id="SA1510" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="Error" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1514" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="Error" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1519" Action="Error" />
    <Rule Id="SA1520" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1639" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1101" Action="None" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
  </Rules>
  <Rules AnalyzerId="Particular.CodeRules" RuleNamespace="Particular.CodeRules">
    <Rule Id="PCR0001" Action="Error" />
    <Rule Id="PCR0002" Action="Error" />
  </Rules>
</RuleSet>
